__pycache__
*.npy
*.png
*.pkl
backup/
archive/
.specstory/
.cache/
.DS_Store
*.zip
.env
.pkljar/
.cursorindexingignore
math_cots/
math_rollouts*
analysis/
copy_json_files.py
copy_json_files_for_viz.py
*.txt
viz/